.header__item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    /* background-color: transparent;
    border: none;
    text-decoration: none; */
}

/* .header__item:hover {
    opacity: .85;
    cursor: pointer;
    transition: opacity 0.1s ease;
} */