.header {
  width: calc(100% - 200px*2);
  padding: 0;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 1139px) {
  .header {
    width: 100%;
    margin: 28px auto 42px;
  }
}